.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed;
}

label>span {
  color: crimson;
  margin-left: 10px;
}

.noVisible {
  display: none;
}
